<div class="title">
    <h2>{{title}}</h2>

    <img src="../../../assets/img/radical.png" height="45%" >
</div>

<article class="about">
    <h3>{{ccl}}</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit nisi ligula, eget ultricies dolor bibendum viverra. Proin tempus fringilla dignissim. Interdum et malesuads fames ac ante ipsum primis in faucibus. Aenean fringilla interdum velit, auctor ultrices purus rhoncus et. Integer eleifend et dui vel congue. Nulla facilisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse quis enim non lectus lobortis pretium. Nam commodo felis quis purus feugiat, at imperdiet ipsum pellentesque. Maecenas eleifend lacus sapien. Mauris at feugiat arcu. Duis nec aliquam justo. Aenean quis mauris efficitur, facilisis diam in, lacinia justo.
    </p>

    <h3>¿Quiénes somos?</h3>
    <p>
      Nuestra Iglesia Comunidad Cristiana de Logroño situada en la calle Río Isla Nº1 Bajo, tiene como propósito compartir el mensaje de salvación, podrás conectarte y compartir este mansaje a tu familia o amigo que necesite una palabra de aliento.
      No te pierdas ninguna reunión a cargo del Pastor Luís Diez y el Pastor Adinael Guevara.
    </p>

    <h3>{{vision}}</h3>
    <p>
        Sed ornare interdum augue sed malesuada. Maecenas in semper turpis. Praesent vestibulum elementum euismod. Cras efficitur accumsan ornare. Aliquam interdum ipsum ipsum, eget tincidunt ante venenatis eget. Integer sit amet tortor eget lectus pretium ullamcorper ac ut elit. Aenean sit amet mi finibus, luctus magna id, tempus sem. Fusce quis faucibus nunc. Praesent aliquam porta odio at condimentum. Nulla non venenatis magna.
    </p>

    <h3>{{mision}}</h3>
    <p>
      Mateo 28: 19-20:
      "19 Por tanto, id, y haced discípulos a todas las naciones, bautizándolos en el nombre del Padre, y del Hijo, y del Espíritu Santo;

      20 enseñándoles que guarden todas las cosas que os he mandado; y he aquí yo estoy con vosotros todos los días, hasta el fin del mundo. Amén."
    </p>

</article>
