<div class="title">
  <h2>{{title}}</h2>
</div>

<ul>
  <li class="listenUs">
    <h3>{{youtube}}</h3>
    <a href="https://www.youtube.com/user/LUISMENENDEZful/featured" >
      <div class="image">
        <img src="../../../assets/img/logo-youtube.png" />
      </div>
      Visión Riojana/TV
    </a>

  </li>

  <li class="listenUs">
    <h3>{{facebook}}</h3>
    <a href="https://www.facebook.com/Comunidad-Cristiana-Iglesia-evangelica-de-Logro%C3%B1o-313940441961108/" >
      <div class="image">
        <img src="../../../assets/img/logo-facebook.png" />
      </div>
      Comunidad Cristiana Iglesia Evangélica Logroño
    </a>
  </li>
</ul>
